<ion-app>
 
<ion-menu menuId="main-menu" side="start" type="push" contentId="main">
  <ion-header>
    <ion-toolbar color="danger">
      <ion-title>W9ayet Far7a</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>
        <p>
           
          <ion-button color="success" (click)="AllerHome()"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-door-fill" viewBox="0 0 16 16">
            <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5z"/>
          </svg>   Home</ion-button>
        </p>
      </ion-item>

      <ion-item><ion-button (click)="AllerConx()">Connection</ion-button></ion-item>
      <ion-item><ion-button color="success"  (click)="AllerInscr()">Inscription</ion-button></ion-item>
      <ion-item><ion-button color="danger" >Deconnection</ion-button></ion-item>
     
    </ion-list>
  </ion-content>
</ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>